img {
    margin: 0 auto;
    width: 90%;

}

.aboutText {
    font-size: 1.3em;

}

.Goal {

    font-size: 1.2em;
    margin-bottom: 50px;
}

.about {
    padding: 5px;
    text-align: justify;
    line-height: 20px;
    height: 50vh;
    width: 100%;


}


.about h2 {
    text-decoration: underline;
    text-align: center;
}