.heading {

  font-size: 2em;
  text-align: center;
  color: rgb(137, 133, 255);
}

.test {
  background: chartreuse;
  margin: 20px auto;
  width: 100px;
  height: 100px;
}

.home h1 span {
  font-size: 0.5em;
}

.side {
  position: absolute;
  width: 400px;
  right: 10vw;
  top: 10vh;
}

h1 {
  padding: 100px 0;
  padding-left: 50px;

}

h2 {
  text-align: center;
  text-decoration: underline;
}

.join {
  margin-top: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 1.3em;
}

}

.join .social .ul {
  display: flex;
  width: 100%;
  justify-content: center;
}

.join .social li {
  list-style-type: none;
  text-align: center;
  margin: 5px auto;
  border-radius: 5px;

  padding: 5px;
  width: 200px;
  background-color: rgb(17, 243, 137);
}

@media screen and (max-width: 500px) {
  h1 {
    padding: 0;
    text-align: center;
  }

  .side {
    display: none;
  }
}